#menuPhone {
    position: fixed;
    right: -11.5em;
    top: 48%;
    background: #725560;
    border-radius: 25px;
    color: white;
    margin: -3em 0 0 0;
    padding: 0.5em 0.5em 0.5em 2.5em;
}

ul#menuPhone {
    width: 13%;
}

#menuPhone:hover {
    right: 0
}

#menuPhone {
    transition: 0.2s
}

p {
    margin-left: 20px;
}

#menuPhone p {
    position: relative;
    left: 0;
}

#menuPhone a:focus {
    left: -7em;
    background: #725560;
}

#menuPhone p {
    transition: 0.2s
}

#menuPhone:hover a:focus {
    left: 0;
    background: none;
}

#menuPhone {
    margin: 0;
    transform: translate(0, -50%);
}

li {
    margin-right: 0px;
}

li p {
    font-size: 15px;
}

#menuPhone li::marker {
    content: url("326545_call_phone_icon.svg");
}

@supports (transform: translate(0, -50%)) {
    #menuPhone {
        margin-top: 0;
        transform: translate(0, -50%);
    }
}

#menuMaps {
    position: fixed;
    right: -13.3em;
    top: 60%;
    background: #725560;
    border-radius: 25px;
    color: white;
    margin: -3em 0 0 0;
}

ul#menuMaps {
    width: 15.5%;
}

#menuMaps:hover {
    right: 0
}

#menuMaps {
    transition: 0.2s
}

#menuMaps p {
    position: relative;
    left: 0;
}

#menuMaps a:focus {
    left: -7em;
    background: #725560;
}

#menuMaps p {
    transition: 0.2s
}

#menuMaps:hover a:focus {
    left: 0;
    background: none;
}

#menuMaps {
    margin: 0;
    transform: translate(0, -50%);
}

#menuMaps li::marker {
    content: url("../Static/location-point-svgrepo-com.svg");
}

#menuMaps #test::marker {
    margin-bottom: 50px;
}

@supports (transform: translate(0, -50%)) {
    #menuMaps {
        margin-top: 0;
        transform: translate(0, -50%);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    background-color: #e7d7c6;
}

.fond {
    display: flex;
    justify-content: space-between;
}

.br{
    color:red;
    width: 50px;
    height: 50px;
    
}

.photo{
zoom:70%;
margin-left:70vh;
height: 140vh;
overflow-x: hidden;
overflow-y: hidden;
}


.navMenu {
    position: absolute;
    top: 6%;
    left: 28%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navMenu a {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: #363531;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    justify-content: space-between;
    width: 120px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    background-color: #7a7a6d;
    border-radius: 20px;
    font-weight: lighter;
    color: #fff;
}

#bottom {
    bottom:0%;
    position: fixed;
    height: 25%;
    width: 100%;
    background: linear-gradient(to top, #a48d8c 20%, #0000 100%);
}

.title{
    color:#515148;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 55px;
    font-weight: lighter;

}
.barre{
    position: fixed;
    margin-top: 21.5%;
    margin-left: 10%;
    height: 0.8%;
    width: 15%;
    background-color: #515148;
}
.description{
    
    color:#a68f8d;
    position: absolute;
    top: 42%;
    left: 9%;
    font-size: 30px;
    font-weight: 10;
    width:50vh;
}

#arrow {
    position: fixed;
    bottom: 5%;
    margin-left: 50%;
}

#bottom:hover{
    background: linear-gradient(to top, #a48d8c 40%, #0000 100%);
}